:root{
    --bodycolor: lightgray;
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--bodycolor);
    margin:0;
}

.boxes {
    min-width: 300px;
    min-width: 300px;
    border-style: dashed;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin: 25px;
}

section{
    display:flex;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 900px ) {
    section {
        flex-direction: column;
    }
}