:root{
    --bodycolor: lightgray;
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--bodycolor);
    margin:0;
}


header {
    text-align: center;
}
h1 {
    font-size: 40px;
}
.boxes h2 {
    position: relative;
    top: -30px;
    left: 30px;
    background-color: darkcyan;
    text-align: center;
    width: 80%;
    border-style: solid;
    border-radius: 7px;
}
.boxes {
    min-width: 300px;
    min-width: 300px;
    border-style: dashed;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin: 25px;
}

.boxes p {
    top: -40px;
    left: 35p;
    position: relative;
    text-align: center;
}

.paragraph {
    height: 140px;
    margin: 10px;
    padding: 0;
    border-style: solid;
    border-radius: 10px;

}

section{
    display:flex;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 900px ) {
    section {
        flex-direction: column;
    }
}