:root{
    --background: #2F4F4F;
    --bodycolor: lightgray;
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--bodycolor);
    margin:0;
}

header {
    text-align: center;
}
h1 {
    font-size: 40px;
}
.boxes h2 {
    font-style: bolder;
    position: relative;
    top: -30px;
    left: 40px;
    background-color: darkcyan;
    text-align: center;
    width: 80%;
    border-style: solid;
    border-radius: 7px;
}
.boxes {
    flex: 0 0 400px;
    min-width: 300px;
    min-width: 300px;
    border-style: dashed;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin: 25px;
}

.boxes p {
    font-weight: bold;
    top: -40px;
    left: 35p;
    position: relative;
    text-align: center;
}

.paragraph {
    font-weight: normal;
    background-image: linear-gradient(to bottom, darkcyan , rgb(231, 231, 105));
    height: 180px;
    margin: 10px;
    padding-top: 10px;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: -25px;

}

section{
    display:flex;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

footer {
    text-align: center;
}

img {
    border-radius: 50%;
}